---
// Importa le funzioni e chiama le API nel file che importa questo componente Astro.
const { constructorData, constructorStats } = Astro.props;
const constructorLogos = {
    ferrari: 'https://upload.wikimedia.org/wikipedia/it/0/04/Logo_della_Ferrari_S.p.A..svg',
    red_bull: 'https://upload.wikimedia.org/wikipedia/commons/9/91/Logo_of_Red_bull.svg',
    mercedes: 'https://upload.wikimedia.org/wikipedia/commons/2/2c/Mercedes-Benz_free_logo.svg',
    mclaren: 'https://upload.wikimedia.org/wikipedia/en/4/45/McLaren_logo.svg',
    alpine: 'https://upload.wikimedia.org/wikipedia/commons/7/7e/Alpine_F1_Team_Logo.svg',
    // aggiungi altri costruttori qui
};
---
<!-- Righe del nome del costruttore -->

<div class={`stats shadow p-4 text-center team-${constructorData.name.toLowerCase().replace(/\s/g, '')}`}>
    
    <!-- Righe delle statistiche -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div class="stat mb-3 flex flex-col items-center">
            <img 
                src={constructorLogos[constructorData.constructorId]} 
                alt={`${constructorData.name} logo`} 
                style={{ width: constructorData.constructorId === 'mclaren' || constructorData.constructorId === 'red_bull' ? '90px' : '70px', height: '90px' }} 
            />
        </div>
        
        <div class="stat mb-3 flex flex-col items-center">
            
            <div class="stat-title text-sm md:text-base">Nome Costruttore</div>
            <div class="stat-value text-primary text-lg md:text-2xl">{constructorData.name}</div>
            <div class="stat-desc text-xs md:text-sm">ID: {constructorData.constructorId}</div>
        </div>

        <div class="stat mb-3 flex flex-col items-center">
            <div class="stat-title text-sm md:text-base">Numero di Vittorie</div>
            <div class="stat-value text-secondary text-lg md:text-2xl">{constructorStats.wins}</div>
        </div>
  
        <div class="stat mb-3 flex flex-col items-center">
            <div class="stat-title text-sm md:text-base">Numero di Podi</div>
            <div class="stat-value text-lg md:text-2xl">{constructorStats.podiums}</div>
        </div>
  
       
    </div>
  
</div>


<style>
    /* styles.css */
.team-mercedes { border: 2px solid #00D2BE; }
.team-redbull { border: 2px solid #1E41FF; }
.team-ferrari { border: 2px solid #DC0000; }
.team-mclaren { border: 2px solid #FF8700; }
.team-astonmartin { border: 2px solid #006F62; }
.team-alpinef1team { border: 2px solid #0090FF; }
.team-sauber { border: 2px solid #52E252; }
.team-haasf1team { border: 2px solid #D7D7D7; }
.team-rbf1team { border: 2px solid #C8C8C8; }
.team-williams { border: 2px solid #00BFFF; }

</style>