---
import { getAllRacesInSeason } from '../services/f1Service';


const { season } = Astro.props; // Get the season from props
const races = await getAllRacesInSeason(season);
---

<div>
    <h1>Races in {season}</h1>
    <table class="table w-full">
        <thead>
            <tr>
                <th>Nome Gara</th>
                <th>Data e Ora</th>
                <th>Pista</th>
            </tr>
        </thead>
        <tbody>
            {races.map((race) => (
                <tr >  {/* Aggiungi una chiave unica per ogni riga */}
                    <td><strong>{race.raceName}</strong></td>
                    <td>
                        {new Date(`${race.date}T${race.time}`).toLocaleString('it-IT', { timeZone: 'Europe/Rome' })}
                    </td>
                    <td>{race.Circuit.circuitName}</td>
                </tr>
            ))}
        </tbody>
    </table>
</div>
