---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "@astrojs/image/components";

const { driverData, driverStats } = Astro.props;
---

<div class="py-10 sm:py-10">
    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl text-primary">{driverData.givenName} {driverData.familyName}</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600 text-white"></p>
      </div>
      <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        <li>
          <div class="flex items-center gap-x-6">
            
            <div>
              <h3 class="text-3xl font-semibold leading-7 tracking-tight text-primary">{driverStats.wins}</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600 ">Numero di 1° Posti</p>
            </div>
          </div>
        </li>
        <li>
            <div class="flex items-center gap-x-6">
              
              <div>
                <h3 class="text-3xl font-semibold leading-7 tracking-tight text-secondary">{driverStats.podiums}</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">Numero di Podi</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
             
              <div>
                <h3 class="text-3xl font-semibold leading-7 tracking-tight text-secondary">{driverStats.poles}</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">Pole Position</p>
              </div>
            </div>
          </li>
  
        <!-- More people... -->
      </ul>
    </div>
  </div>
  <div class="divider"></div> 